BasedOnStyle: Google
IndentWidth: 4
# ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Right
IncludeCategories:
  - Regex: '^<Uefi.*>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^".*\.h"'
    Priority: 3
